<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | SPORTKICKS</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="../js/main.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css">
</head>
<body>
    <header>
        <div class="container header-container">
        <div class="logo">SPORTKICKS</div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </div>
    </header>
        
    <main>
        <h1>Contacto</h1>
       <section id="contacto">
            <h2>Contacto</h2>

            <div class="contacto-contenedor">

                <div class="mapa">
                <div id="map"></div>
                </div>

                <div class="datos-contacto">
                    <p><strong>Dirección:</strong> Paseo Marítimo de Aguadulce</p>
                    <p><strong>Email:</strong> sportkicks@gmail.com</p>
                    <p><strong>Teléfono:</strong> +123 456 789</p>
                </div>
            </div>
       </section>
    </main>

    <footer>

    <div class="social-media">

        <a href="https://www.facebook.com/" target="_blank">
            <img src="../images/facebook.png" alt="Facebook">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
            <img src="../images/Instagram.svg" alt="Instagram">
        </a>

        <a href="https://twitter.com/" target="_blank">
            <img src="../images/twiter.png" alt="Twitter">
        </a>

    </div>

    <p>Paseo Marítimo de Aguadulce, Almería</p>

    <p>&copy; 2026 SPORTKICKS. Todos los derechos reservados.</p>

    <p>
        <a href="#">Aviso legal</a> |
        <a href="#">Política de privacidad</a>
    </p>

    </footer>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="../js/mapa.js"></script>
</body>
</html>
