<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería | SPORTKICKS</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="../js/main.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css">
</head>
<body>
    <header>
        <div class="container header-container">
        <div class="logo">SPORTKICKS</div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="active">Productos</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
    </header>

    <main>
        <h1>Galería</h1>
        <h2>Nuestros productos</h2>
       
        <div class="gallery">

            <a href="../images/zapatillas2.jpg" data-fancybox="galeria">
            <img src="../images/zapatillas2.jpg" alt="Jordan">
            </a>

            <a href="../images/zapatillas6.webp" data-fancybox="galeria">
            <img src="../images/zapatillas6.webp" alt="Nike Dunk Low blanca">
            </a>

            <a href="../images/zapatillas4.jpg" data-fancybox="galeria">
            <img src="../images/zapatillas4.jpg" alt="Adidas Yeezy">
            </a>

            <a href="../images/zapatillas5.webp" data-fancybox="galeria">
            <img src="../images/zapatillas5.webp" alt="Nike Dunk Low blanca">
            </a>

        </div>
    </main>

    <footer>

    <div class="social-media">

        <a href="https://www.facebook.com/" target="_blank">
            <img src="../images/facebook.png" alt="Facebook">
        </a>

        <a href="https://www.instagram.com/" target="_blank">
            <img src="../images/Instagram.svg" alt="Instagram">
        </a>

        <a href="https://twitter.com/" target="_blank">
            <img src="../images/twiter.png" alt="Twitter">
        </a>

    </div>

    <p>Paseo Marítimo de Aguadulce, Almería</p>

    <p>&copy; 2026 SPORTKICKS. Todos los derechos reservados.</p>

    <p>
        <a href="#">Aviso legal</a> |
        <a href="#">Política de privacidad</a>
    </p>

    </footer>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>
Fancybox.bind("[data-fancybox='galeria']", {});
</script>
</body>
</html>
